@mixin backgroundCover() {
  background: url("../assets/entrance-bg.svg") no-repeat center center fixed;
  background-size: cover;
}

@mixin hover {
  cursor: pointer;
  transition: $animation;

  &:hover {
    opacity: 0.7;
    transition: $animation;
  }
}

@mixin button {
  width: 165px;
  display: block;
  font-size: 13px;
  height: 20px;
  outline: none;
  color: $orange;
  transition: $animation;
  background: linear-gradient(180deg, #6CB3FA 2.82%, #067DFF 100%);
  border: 1px solid #007AFF;
  border-radius: 4px;
  font-family: $regular !important;

  &:hover {
    transition: $animation;
    opacity: 0.85;
    cursor: pointer;
  }
}

@mixin ban {
  margin-left: 5px;
  height: 20px;
  width: 50px;
  display: block;
  font-size: 13px;
  outline: none;
  color: $white;
  transition: $animation;
  background: linear-gradient(180deg, #FF6157 0%, #FF3B30 100%);
  border: 0.5px solid #E24640;
  box-sizing: border-box;
  border-radius: 2px;
  font-family: $regular !important;

  &:hover {
    transition: $animation;
    opacity: 0.85;
    cursor: pointer;
  }
}
