$white: white;
$black: black;
$blue_20: #3D5AFE;
$subscriber: #2DD799;
$orange: #F39C21;
$grey-60: #9D9D9F;
$grey-05: #D1D1D1;
$grey-10: rgba(255, 255, 255, 0.1);
$grey-20: #9F9FB2;
$grey-90: #212121;
$grey-95: #1B1B1B;
$backgroundColor: #121212;
$red: rgba(255, 59, 48, 0.6);
$grey-30: rgba(255, 255, 255, 0.7);

$header-height: 52px;

$animation: all 0.2s ease-in-out;
